@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Attendance List</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Attendance List</h2>
        <p>
            Attendance List is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Information about project</h2>
        <p> Listy obecności: Studenci należą do Grupy, Grupa ma zajęcia, na których sprawdzana jest Lista obecności. 
            Program (administrator) powinien umożliwiać wprowadzanie danych Studenta, przypisać Studenta do utworzonej 
            Grupy oraz utworzenie Listy dla wybranej Grupy.</p>
        @*<p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>*@
        <a asp-action="Privacy">More information</a>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
