@{
    ViewData["Title"] = "Information about project";
}
<h1>@ViewData["Title"]</h1>

<p> Listy obecności: Studenci należą do Grupy, Grupa ma zajęcia, na których sprawdzana jest Lista obecności. 
            Program (administrator) powinien umożliwiać wprowadzanie danych Studenta, przypisać Studenta do utworzonej 
            Grupy oraz utworzenie Listy dla wybranej Grupy. Lista opisana jest przez datę, zajęcia, Grupę oraz zakres casu trwania zajęć. 
            Prowadzący może tworzyć listy dla bieżącej daty i podanych zajęć oraz dostać podsumowanie obecności: 
            liczba obecnych na danej liście, liczba obecności dla każdego studenta dla danych zajęć. 
            Student może jedynie oglądać swoje obecności oraz potwierdzać obecność (klikając na checkbox) tylko wtedy, 
            gdy czas wykonania zatwierdzenia zajęć mieści się w zakresie trwania zajęć i zgadza się data kliknięcia z datą zajęć.</p>